<div id="cms_ui">
  
  <div class="toggle">i</div>
  
  <div class="panels">
    
    <div class="active panel" id="element_panel">
      <h2>Element</h2>
      
      <div class="inner">
        <form id="cms_inspector">
          <fieldset>
            <legend><span>Element</span></legend>
            <div class="empty">Click on an element to see its details here</div>
          </fieldset>
        </form>
        
        <div id="cms_components">
          <h3>Drag a new element to your page</h3>
          <ol class="cms_components">
            <li data-component="page-title"><span><i class="fa fa-header"></i> Page title</span></li>
            <li data-component="heading"><span><i class="fa fa-header"></i> Heading</span></li>
            <li data-component="subheading"><span><i class="fa fa-header"></i> Subheading</span></li>

            <li data-component="text"><span><i class="fa fa-font"></i> Text</span></li>
            <li data-component="quote"><span><i class="fa fa-quote-left"></i> Quote</span></li>
            <li data-component="list"><span><i class="fa fa-list"></i> List</span></li>

            <li data-component="image"><span><i class="fa fa-picture-o"></i> Image</span></li>
            <li data-component="audio"><span><i class="fa fa-volume-up"></i> Audio</span></li>
            <li data-component="video"><span><i class="fa fa-video-camera"></i> Video</span></li>

            <li data-component="table"><span><i class="fa fa-table"></i> Table</span></li>
            <li data-component="map"><span><i class="fa fa-map-marker"></i> Map</span></li>
            <li data-component="menu"><span><i class="fa fa-bars"></i> Menu</span></li>

            <li data-component="chart"><span><i class="fa fa-bar-chart-o"></i> Chart</span></li>
            <li data-component="sitemap"><span><i class="fa fa-sitemap"></i> Sitemap</span></li>
            <li data-component="comments"><span><i class="fa fa-comments"></i> Comments</span></li>
          </ol>
        </div>
      </div>
    </div>
    
    <div class="panel" id="page_panel">
      <h2>Page</h2>
      
      <div class="inner">
      	<form id="cms_this_page" method="post">
      		<fieldset class="active">
      			<legend><span>This page</legend>
			
      			<div>
      				<p>
      					<label for="cms_this_page_title">Page title</label>
      					<input type="text" name="title" value="<%= page.title %>" id="cms_this_page_title">
      				</p>
              
      				<p>
      					<label for="cms_this_page_description">Description</label>
      					<textarea name="description" id="cms_this_page_description"></textarea>
      				</p>
				
      				<p>
      					<label for="cms_this_page_template">Template</label>
      					
      				</p>
				
      				<p>
      					<input type="submit" value="Update">
      				</p>
      			</div>
      		</fieldset>
      	</form>
        
      	<form id="cms_new_page" method="post" action="/new">
      		<fieldset class="active">
      			<legend><span>New page</legend>
			
      			<div>
      				<p>
      					<label for="cms_new_page_title">Page title</label>
      					<input type="text" name="title" value="" id="cms_new_page_title">
      				</p>
				
      				<p>
      					<label for="cms_new_page_location">Location</label>
      					<select name="location" id="cms_new_page_location">
      						<option value="sibling">Next to this page</option>
      						<option value="child">Underneath this page</option>
      					</select>
      				</p>
				
      				<p>
      					<input type="submit" value="Create">
      				</p>
      			</div>
      		</fieldset>
      	</form>
      </div>
    </div>
    
    <div class="panel" id="site_panel">
      <h2>Site</h2>
      
      <div class="inner">
      	<form id="cms_site" method="post" action="/new">
      		<fieldset class="active">
      			<legend><span>Details</legend>
			
      			<div>
      				<p>
      					<label for="cms_site_title">Site title</label>
      					<input type="text" name="title" value="<%= page.title %>" id="cms_site_title">
      				</p>
              
      				<p>
      					<label for="cms_site_description">Description</label>
      					<textarea name="description" id="cms_site_description"></textarea>
      				</p>
				
      				<p>
      					<label for="cms_site_theme">Theme</label>
      					
      				</p>
				
      				<p>
      					<input type="submit" value="Update">
      				</p>
      			</div>
      		</fieldset>
      	</form>
      </div>
    </div>
  </div>
</div>
  
  
	<!--
		
		<fieldset id="cms_options">
			<legend><span>Options</span></legend>
			
			<div>
				<p>
					<label for="cms_show_page_zones">Show page zones</label>
					<input type="checkbox" name="cms_show_page_zones" value="true" id="cms_show_page_zones">
				</p>
				
				<p>
					<label for="cms_show_template_zones">Show template zones</label>
					<input type="checkbox" name="cms_show_template_zones" value="true" id="cms_show_template_zones">
				</p>
				
				<p>
					<label for="cms_show_components">Show components</label>
					<input type="checkbox" name="cms_show_page_content_zones" value="true" id="cms_show_components">
				</p>
			</div>
		</fieldset>
	</form>
</div>
-->