<div class="<%= component.klass || 'component' %>" itemtype="<%= component.name %>" itemscope><div style="padding: 0 1rem;">
  <!-- TODO: Action div should only show if logged in as an editor -->
	<div class="actions">
		<div class="handle"><i class="fa fa-arrows"></i></div>
		<div class="remove"><i class="fa fa-close"></i></div>
	</div>
	<div class="content"><%= yield %></div>
</div></div>
