<!DOCTYPE html>
<html>
<head>
	<title><%= page.title %></title>
	
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/cms.css">
	<link rel="stylesheet" href="/vendor/medium-editor.min.css">
	
	<meta name="revision" content="<%= page._rev %>">
</head>
<body>

<%= yield %>

<div id="cms_ui">
	<form id="cms_global_panel">
		<fieldset class="active">
			<legend><span>Page</span></legend>
			
			<div>
				<p>
					<label for="cms_show_zones">Show zones</label>
					<input type="checkbox" name="cms_show_zones" value="true" id="cms_show_zones">
				</p>
				
				<p>
					<label for="cms_show_components">Show components</label>
					<input type="checkbox" name="cms_show_page_content_zones" value="true" id="cms_show_components">
				</p>
				
				<p>
					<button type="button" name="cms_save_page" id="cms_save_page">Save page</button>
				</p>
			</div>
		</fieldset>
	
		<fieldset>
			<legend><span>Template</span></legend>
		
			<div>
				<p>Template panel</p>
			</div>
		</fieldset>
		
		<fieldset>
			<legend><span>Site</span></legend>
			
			<div>
				<p>Site panel</p>
			</div>
		</fieldset>
	</form>
	
	<form id="cms_local_panel">
		<fieldset id="cms_insert" class="active">
			<legend><span>Insert</span></legend>
		
			<div>
				<ol class="cms_components">
					<li data-component="foo"><span>Foo</span></li>
					<li data-component="bar"><span>Bar</span></li>
					<li data-component="baz"><span>Baz</span></li>
					<li data-component="map"><span>Map</span></li>
					<li><span>Thing</span></li>
					<li><span>Thing</span></li>
					<li><span>Thing</span></li>
					<li><span>Thing</span></li>
					<li><span>Thing</span></li>
					<li><span>Thing</span></li>
					<li><span>Thing</span></li>
					<li><span>Thing</span></li>
					<li><span>Thing</span></li>
					<li><span>Thing</span></li>
					<li><span>Thing</span></li>
				</ol>
			</div>
		</fieldset>
	
		<fieldset id="cms_inspector">
			<legend><span>Inspect</span></legend>
		
			<div>
				<p>
					<label for="cms_inspector_component">Component</label>
					<input type="text" name="component" id="cms_inspector_component" value="">
			</div>
		</fieldset>
		
		<fieldset id="cms_options">
			<legend><span>Options</span></legend>
			
			<div>
				<p>Option panel</p>
			</div>
		</fieldset>
	</form>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/vendor/jquery-ui-1.10.4.custom.min.js"></script>
<script src="/vendor/medium-editor.min.js"></script>

<script>
var cms = new function() {
	
	// Private variables

    var editor, $this = this, needsSave = false;
	
	// Private functions
	
	function setupEditor() {
		editor = new MediumEditor(
			'[data-editor="inline"]',
			{
				cleanPastedHTML: true
			}
		);
	}
	
	function showZones() {
		$('.zone').addClass('shown');
	}
	
	function hideZones() {
		$('.zone').removeClass('shown');
	}
	
	function showComponents() {
		$('.component').addClass('shown');
	}
	
	function hideComponents() {
		$('.component').removeClass('shown');
	}
	
	function showGuides() {
		showZones();
		showComponents();
	}
	
	function hideGuides() {
		hideZones();
		hideComponents();
	}
	
	function openPanel(panel) {
		panel.parents('form').find('.active').removeClass('active');
		panel.addClass('active');
	}
	
	function openInspector() {
		openPanel( $('#cms_inspector') );
	}
	
	function pageChanged() {
		needsSave = true;
		$('#cms_save_page').removeAttr('disabled');
	}
	
	function registerEventListeners() {
		// Save page upon change to component content via input (i.e. typing)
		$('.component').on('input', function() {
			pageChanged();
		});
		
		// Set correct tab in toolbar
		$('#cms_ui legend span').on('click', function() {
			openPanel( $(this).parent().parent() );
		});
		
		// Inspect components
		$('.component').on('click', function() {
			$this.inspect($(this));
		});
		
		// Allow new components to be dragged onto page (into zones)
		$('.cms_components li').draggable({
		    helper: 'clone',
		    connectToSortable: '.zone',
			tolerance: 'pointer',
			snap: true,
			start: showGuides,
			stop: hideGuides
		});
    
		// Allow components to be sorted
		$('.zone').sortable({
		    placeholder: 'block-placeholder',
			handle: '.handle',
			connectWith: '.zone',
			tolerance: 'pointer',
		    update: function (event, ui) {
				if (ui.item.attr('data-component') != undefined) {
					$.get('/components/' + ui.item.attr('data-component'), function(data) {
						ui.item.replaceWith(data);
						cms.refresh();
					});
				}
				pageChanged();
		    },
			start: showGuides,
			stop: hideGuides
		});
		
		// Style up editable components on hover (add drag handles etc.)
		$('.component').on('mouseenter', function() {
			$(this).append('<div class="handle">Move</div>');
		}).on('mouseleave', function() {
			$(this).find('.handle').remove();
		});
			
		// Hide/show content zones
		$('#cms_show_zones').on('click', function() {
			if ($(this).is(':checked')) {
				showZones();
			} else {
				hideZones();
			}
		});
		
		// Hide/show components zones
		$('#cms_show_components').on('click', function() {
			if ($(this).is(':checked')) {
				showComponents();
			} else {
				hideComponents();
			}
		});
		
		// Handle save request
		$('#cms_save_page').on('click', $this.savePage);
	}
	
	function init() {
		setupEditor();
		registerEventListeners();
		$('#cms_save_page').attr('disabled','disabled');
	}
	
    // public interface
	
	this.inspect = function(element) {
		openInspector();
		$('#cms_inspector_component').val(element.attr('data-type'));
	}
	
	this.savePage = function() {
		if (needsSave) {
			var page = {};
			page['_id'] = window.location.pathname;
			page['title'] = document.title;
			page['content'] = {};
			page['_rev'] = $('meta[name=revision]').attr("content");
			$('.zone').each(function(zone_index, zoneElement) {
				var zone = [];
				$(zoneElement).find('.component').each(function(component_index, componentElement) {
					var component = {};
					component.name = $(componentElement).attr('data-type');
					component.editor = $(componentElement).attr('data-editor');
					// TODO: Work out how to access per component config/content here (via some kind of IOC stuff)
					component.content = $.trim($(componentElement).html());
					zone.push(component);
				});
				page.content[$(zoneElement).attr('id')] = zone;
			});
			$.post( "/save", { 'page' : JSON.stringify(page) }, "json" ).done(function( data ) {
				$("meta[name='revision']").attr("content", data.rev);
				console && console.log && console.log("Data saved: " + data['rev'] );
				needsSave = false;
				$('#cms_save_page').attr('disabled','disabled');
	  	  	});
		}
	};
	
	this.refresh = function() {
		init();
	}

	// Initialisation
	
	init();	
};
</script>
</body>
</html>



