<!DOCTYPE html>
<html>
<head>
	<title><%= page.title %></title>

	<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">	
	<link href='http://fonts.googleapis.com/css?family=Arvo' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/cms.css">
	<link rel="stylesheet" href="/vendor/medium-editor.min.css">
	
	<meta name="revision" content="<%= page._rev %>">
</head>
<body>

<%= yield %>

<div id="cms_ui">
	<form id="cms_new_panel" method="post" action="/new">
		<fieldset class="active">
			<legend><span>New page</legend>
			
			<div>
				<p>
					<label for="cms_page_title">Page title</label>
					<input type="text" name="title" value="" id="cms_page_title">
				</p>
				
				<p>
					<label for="cms_page_location">Location</label>
					<select name="location" id="cms_page_location">
						<option value="sibling">Next to this page</option>
						<option value="child">Underneath this page</option>
					</select>
				</p>
				
				<p>
					<input type="submit" value="Create">
				</p>
			</div>
		</fieldset>
	</form>
	
	<form id="cms_global_panel">
		<fieldset class="active">
			<legend><span>Page</span></legend>
			
			<div>
				<p id="page_rev"><%= page._rev %></p>
				<p>
					<button type="button" name="cms_save_page" id="cms_save_page">Save page</button>
				</p>
			</div>
		</fieldset>
	
		<fieldset>
			<legend><span>Template</span></legend>
		
			<div>
				<p>Template panel</p>
			</div>
		</fieldset>
		
		<fieldset>
			<legend><span>Site</span></legend>
			
			<div>
				<p>Site panel</p>
			</div>
		</fieldset>
	</form>
	
	<form id="cms_local_panel">
		<fieldset id="cms_insert" class="active">
			<legend><span>Insert</span></legend>
		
			<div>
				<ol class="cms_components">
					<li data-component="heading"><span><i class="fa fa-header"></i> Heading</span></li>
					<li data-component="subheading"><span><i class="fa fa-header"></i> Subheading</span></li>
					<li data-component="text"><span><i class="fa fa-font"></i> Text</span></li>
					
					<li data-component="quote"><span><i class="fa fa-quote-left"></i> Quote</span></li>
					<li data-component="list"><span><i class="fa fa-list"></i> List</span></li>
					<li data-component="table"><span><i class="fa fa-table"></i> Table</span></li>
					
					<li data-component="image"><span><i class="fa fa-picture-o"></i> Image</span></li>
					<li data-component="audio"><span><i class="fa fa-volume-up"></i> Audio</span></li>
					<li data-component="video"><span><i class="fa fa-video-camera"></i> Video</span></li>
					
					<li data-component="list"><span><i class="fa fa-list"></i> List</span></li>
					<li data-component="table"><span><i class="fa fa-table"></i> Table</span></li>
					<li data-component="form"><span><i class="fa fa-pencil-square-o"></i> Form</span></li>
										
					<li data-component="map"><span><i class="fa fa-map-marker"></i> Map</span></li>
					<li data-component="calendar"><span><i class="fa fa-calendar"></i> Table</span></li>
					<li data-component="chart"><span><i class="fa fa-bar-chart-o"></i> Chart</span></li>
					
					<!--
					<li data-component="sitemap"><span><i class="fa fa-sitemap"></i> Sitemap</span></li>
					<li data-component="comments"><span><i class="fa fa-comments"></i> Comments</span></li>
					<li data-component="team"><span><i class="fa fa-users"></i> Team</span></li>
					<li data-component="profile"><span><i class="fa fa-user"></i> Profile</span></li>
					-->
				</ol>
			</div>
		</fieldset>
	
		<fieldset id="cms_inspector">
			<legend><span>Inspect</span></legend>
		
			<div>
				<p>
					<label for="cms_inspector_component">Component</label>
					<input type="text" name="component" id="cms_inspector_component" value="">
			</div>
		</fieldset>
		
		<fieldset id="cms_options">
			<legend><span>Options</span></legend>
			
			<div>
				<p>
					<label for="cms_show_zones">Show zones</label>
					<input type="checkbox" name="cms_show_zones" value="true" id="cms_show_zones">
				</p>
				
				<p>
					<label for="cms_show_components">Show components</label>
					<input type="checkbox" name="cms_show_page_content_zones" value="true" id="cms_show_components">
				</p>
			</div>
		</fieldset>
	</form>
</div>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="/vendor/jquery-ui-1.10.4.custom.min.js"></script>
<script src="/vendor/medium-editor.min.js"></script>

<script>
var cms = new function() {
	
	// Private variables

    var $this = this, needsSave = false;
	
	// Private functions
	
	function setupEditors() {
		inlineEditor = new MediumEditor(
			'[data-editor="inline"]',
			{
				disableReturn: true,
				cleanPastedHTML: true,
				buttonLabels: 'fontawesome',
				buttons: ['bold', 'italic', 'anchor', 'quote', 'strikethrough'],
			}
		);
		
		inlineEditor = new MediumEditor(
			'[data-editor="block"]',
			{
				cleanPastedHTML: true,
				buttonLabels: 'fontawesome',
				buttons: ['bold', 'italic', 'anchor', 'quote', 'strikethrough'],
			}
		);
		
		blockEditor = new MediumEditor(
			'[data-editor="full"]',
			{
				cleanPastedHTML: true,
				buttonLabels: 'fontawesome',
				buttons: ['header1', 'header2', 'quote', 'orderedlist', 'unorderedlist', 'bold', 'italic', 'anchor', 'quote', 'strikethrough'],
				firstHeader: 'h2',
				secondHeader: 'h3'
			}
		);
	}
	
	function showZones() {
		$('.zone').addClass('shown');
	}
	
	function hideZones() {
		$('.zone').removeClass('shown');
	}
	
	function showComponents() {
		$('.component').addClass('shown');
	}
	
	function hideComponents() {
		$('.component').removeClass('shown');
	}
	
	function showGuides() {
		showZones();
		showComponents();
	}
	
	function hideGuides() {
		hideZones();
		hideComponents();
	}
	
	function openPanel(panel) {
		panel.parents('form').find('.active').removeClass('active');
		panel.addClass('active');
	}
	
	function openInspector() {
		openPanel( $('#cms_inspector') );
	}
	
	function pageChanged() {
		needsSave = true;
		$('#cms_save_page').removeAttr('disabled');
	}
	
	function registerEventListeners() {
		// Save page upon change to component content via input (i.e. typing)
		$('.component').on('input', function() {
			pageChanged();
		});
		
		// Set correct tab in toolbar
		$('#cms_ui legend span').on('click', function() {
			openPanel( $(this).parent().parent() );
		});
		
		// Inspect components
		$('.component').on('click', function() {
			$this.inspect($(this));
		});
		
		// Allow new components to be dragged onto page (into zones)
		$('.cms_components li').draggable({
		    helper: 'clone',
			opacity: 0.33,
		    connectToSortable: '.zone',
			tolerance: 'pointer',
			snap: true,
			start: showGuides,
			stop: hideGuides
		});
    
		// Allow components to be sorted
		$('.zone').sortable({
		    placeholder: 'block-placeholder',
			handle: '.handle',
			connectWith: '.zone',
			tolerance: 'pointer',
		    update: function (event, ui) {
				if (ui.item.attr('data-component') != undefined) {
					$.get('/components/' + ui.item.attr('data-component'), function(data) {
						ui.item.replaceWith(data);
						cms.refresh();
					});
				}
				pageChanged();
		    },
			start: showGuides,
			stop: hideGuides
		});
		
		// Style up editable components on hover (add drag handles etc.)
		$('.component').on('mouseenter', function() {
			$(this).find('.actions').show();
		}).on('mouseleave', function() {
			$(this).find('.actions').hide();
		});
		
		$('.component').on('click', '.remove', function() {
			$(this).parents('.component').remove();
			pageChanged();
		});
			
		// Hide/show content zones
		$('#cms_show_zones').on('click', function() {
			if ($(this).is(':checked')) {
				showZones();
			} else {
				hideZones();
			}
		});
		
		// Hide/show components zones
		$('#cms_show_components').on('click', function() {
			if ($(this).is(':checked')) {
				showComponents();
			} else {
				hideComponents();
			}
		});
		
		// Handle save request
		$('#cms_save_page').on('click', $this.savePage);
	}
	
	function init() {
		setupEditors();
		registerEventListeners();
		$('#cms_save_page').attr('disabled','disabled');
	}
	
    // public interface
	
	this.inspect = function(element) {
		openInspector();
		$('#cms_inspector_component').val(element.attr('data-type'));
	}
	
	this.savePage = function() {
		if (needsSave) {
			var page = {};
			page['_id'] = window.location.pathname;
			page['title'] = document.title;
			page['content'] = {};
			page['_rev'] = $('meta[name=revision]').attr("content");
			$('.zone').each(function(zone_index, zoneElement) {
				var zone = [];
				$(zoneElement).find('.component').each(function(component_index, componentElement) {
					var component = {};
					component.name = $(componentElement).attr('data-type');
					$(componentElement).find('[data-property]').each(function(i, e) {
						component[$(e).attr('data-property')] = $.trim($(e).html());
					});
					zone.push(component);
				});
				page.content[$(zoneElement).attr('id')] = zone;
			});
			console.log(page);
			$.post( "/save", { 'page' : JSON.stringify(page) }, "json" ).done(function( data ) {
				$("meta[name='revision']").attr("content", data.rev);
				$("#page_rev").text(data.rev);
				console && console.log && console.log("Data saved: " + data['rev'] );
				needsSave = false;
				$('#cms_save_page').attr('disabled','disabled');
	  	  	});
		}
	};
	
	this.refresh = function() {
		init();
	}

	// Initialisation
	
	init();	
};
</script>
</body>
</html>



