<!DOCTYPE html>
<html>
<head>
	<title><%= page.title %></title>
	
	<link href="http://fonts.googleapis.com/css?family=Arvo" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="/css/site.css">
	
	<meta name="viewport" content="width=320, initial-scale=1.0" id="metaviewport">
	
	<!-- For the CMS interface... -->
	<link href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link rel="stylesheet" href="/css/cms.css">
	<link rel="stylesheet" href="/vendor/medium-editor.min.css">
	<link rel="stylesheet" href="/vendor/medium-editor-insert-plugin.min.css">
</head>
<body>
	<div id="viewport">
		<%= yield %>
	</div>

	<!-- For the CMS interface... -->
	<%= erb :cms, locals: {page: page} %>
	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="/vendor/jquery-ui-1.10.4.custom.min.js"></script>
	<script src="/vendor/jquery.iframe-transport.js"></script>
	<script src="/vendor/jquery.fileupload.js"></script>
	<script src="/vendor/handlebars.runtime.min.js"></script>
	<script src="/vendor/medium-editor.min.js"></script>
	<script src="/vendor/medium-editor-insert-plugin.min.js"></script>
	<script src="/js/cms.js"></script>
</body>
</html>
