<div id="nav" class="template-zone">
<%= content.nav %>
</div>

<div id="heading" class="template-zone">
<%= content.heading %>
</div>

<div id="primary" class="page-zone">
<%= content.primary %>
</div>

<div id="secondary" class="page-zone">
<%= content.secondary %>
</div>
