.page-zone,
.template-zone {
  min-height: 1em;
  outline-color: #090;
  outline-style: dotted;
  outline-offset: 3px;
  outline-width: 0;
  margin: 0 0 10px 0;
}

.resizing {
  background-color: transparent;
  background-image: linear-gradient(90deg, rgba(255, 128, 128, 0.05) 50%, transparent 50%);
  background-size: 16.66% 16.66%;
  background-position: 1rem;
}
  
}

.template-zone {
  outline-color: #900;
}

.template-zone:after,
.page-zone:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

.component {
  position: relative;
  outline-color: #CCC;
  outline-style: dashed;
  outline-offset: 1px;
  outline-width: 0;
  margin: 0 0 1rem 0;
  padding: 0;
  box-sizing: border-box;
  clear: both;
  float: none;
}

.span1,
.span2,
.span3,
.span4,
.span5,
.span6,
.span7,
.span8,
.span9,
.span10,
.span11 {
  clear: none;
  float: left;
}

.span1 { width: 8.33%; }
.span2 { width: 16.66%; }
.span3 { width: 25%; }
.span4 { width: 33.33%; }
.span5 { width: 41.66%; }
.span6 { width: 50%; }
.span7 { width: 58.33%; }
.span8 { width: 66.66%; }
.span9 { width: 75%; }
.span10 { width: 83.33%; }
.span11 { width: 91.66%; }

@media only screen and (max-width: 480px) {
  .span1,
  .span2,
  .span3,
  .span4,
  .span5,
  .span6,
  .span7,
  .span8,
  .span9,
  .span10,
  .span11 {
    clear: both;
    float: none;
    width: 100% !important;
  }
}

body.showing-page-zones .component,
body.showing-template-zones .component {
  opacity: 0.25;
}

body.showing-page-zones .page-zone .component,
body.showing-template-zones .template-zone .component {
  opacity: 1;
}

.shown {
  outline-width: 1px;
}

.component:hover {
  z-index: 1000;
}

.component:hover:after {
  z-index: -2;
  border-radius: 4px;
  display: block;
  content: "";
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  border: 2px solid #FFF;
  box-shadow: 0 0 1px 3px #EEE;
}

.component .width {
  position: absolute;
  top: 0;
  left: 50%;
  top: 0;
  width: 4em;
  margin: 0 -2em;
  border-radius: 5px;
  background: #EEE;
  color: #333;
  text-align: center;
  line-height: 2em;
  font-size: 2em;
}

.component .actions {
  position: absolute;
  top: -1.4em;
  right: 0;
  font-size: small;
  text-align: center;
  display: none;
}

.component .actions div {
  border-radius: 4px;
  background: #EEE;
  color: #333;
  float: left;
  width: 2em;
  height: 2em;
  line-height: 2em;
  text-align: center;
  margin-left: 0.2em;
}

.component .actions .handle {
  cursor: move;
}

.component .inspect,
.component .remove {
  cursor: pointer;
}

.component [data-editor]:focus {
  outline: none;
}

html {
  transition: all 0.25s ease;
}

html.phone #viewport,
html.tablet #viewport,
html.laptop #viewport,
html.desktop #viewport {
  margin: 1em auto;
  border: 2px solid #DDD;
  transition: width 0.25s ease;
  transition: height 0.25s ease;
  transition: margin 0.25s ease;
  overflow: scroll;
}

html.phone body,
html.tablet body,
html.laptop body,
html.desktop body {
  background: #EEE;
}

  html.phone div#viewport {
    width: 320px;
    height: 480px;
  }
  
  html.tablet div#viewport {
    width: 640px;
    height: 800px;
  }
  
  html.laptop div#viewport {
    width: 1024px;
    height: 768px;
  }
  
  html.desktop div#viewport {
    width: 1280px;
    height: 960px;
  }

html.cms {
  margin: 0 25% 0 0;
  transition: all 0.25s ease;
}

html.cms body {

}

#cms_ui {
  font-family: "Helvetica", sans-serif !important;
  font-size: 14px;
  background: #F8F8F8 url(/images/cms_ui.png);
  position: fixed;
  top: 0;
  left: 100%;
  bottom: 0;
  width: 25%;
  border-left: 1px solid #DDD;
  color: #333;
  z-index: 5000;
  transition: left 0.25s ease;
  box-shadow: inset 2px 2px 2px #EEE;
}

html.cms #cms_ui {
  left: 75%;
  transition: left 0.25s ease;
}

#cms_ui .toggle {
  position: absolute;
  top: 50%;
  margin: -2em 0 0 0;
  left: -1.25em;
  background: #EEE;
  color: #FFF;
  border-radius: 4px 0 0 4px;
  width: 1em;
  height: 3em;
  padding: 0 0 0 0.25em;
  line-height: 3em;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}

#cms_ui .tools {
  background: #EEE;
  height: 4em;
  border-bottom: 1px solid #DDD;
  position: fixed;
  top: -4.2em;
  left: 0;
  right: 0;
  transition: top 0.25s ease;
}

#cms_ui fieldset {
  border: none;
  margin: 0 0 1em 0;
  padding: 1em 0 1em 0;
  position: relative;
  border-bottom: 2px solid #EEE;
}

#cms_ui legend,
#cms_ui h3 {
  margin: 0;
  padding: 0;
  color: #333;
  font-weight: 600;
  font-size: 1em;
}

#cms_ui label {
  display: block;
  font-size: smaller;
  line-height: 1.8;
  color: #666;
}

#cms_ui input[type=text],
#cms_ui textarea {
  width: 100%;
  padding: 0.33em;
  border: 2px solid #CCC;
  margin: 0;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 1em;
}

#cms_ui textarea {
  height: 4em;
}

#cms_ui input[type=checkbox],
#cms_ui input[type=radio] {
  font-size: 2em;
}

#cms_ui .checkbox {
  position: relative;
}

#cms_ui .checkbox input {
  position: absolute;
  top: 0;
  left: 0;
}

#cms_ui .checkbox label {
  padding-left: 2em;
}

#cms_ui input[type=text],
#cms_ui textarea {
  outline: none !important;
}

#cms_ui input[type=text]:focus,
#cms_ui textarea:focus {
  border-color: #0080FF;
}

#cms_ui select {
  font-size: 1.2em;
  width: 100%;
  cursor: pointer;
}

#cms_ui input[type=submit] {
  width: 100%;
  font-size: 1.5em;
  margin-top: 0.25em;
  color: #0080FF;
  font-weight: bold;
  cursor: pointer;
}

#cms_ui h1, #cms_ui h2, #cms_ui h3, #cms_ui h4, #cms_ui h5, #cms_ui h6, #cms_ui legend, #cms_ui label, #cms_ui th {
  font-family: "Helvetica", sans-serif !important;
  margin: 0;
}

#cms_ui div.panels {
  position: relative;
  margin: 0;
  padding: 0;
  border: none;
}

#cms_ui div.panel {
  position: absolute;
  top: 2em;
  left: 0;
  width: 100%;
  bottom: 0;
  margin: 0;
  padding: 0;
  border: none;
}

#cms_ui div.inner {
  padding: 1em;
  display: none;
}

#cms_ui div.active div.inner {
  display: block;
}

#cms_ui h2 {
  font-size: 1em;
  display: block;
  position: absolute;
  width: 25%;
  top: -2em;
  color: #999;
  text-align: center;
  line-height: 2em;
  background: #F8F8F8;
  box-sizing: border-box;
  border: 1px solid #CCC;
  border-left: none;
  border-top: none;
  cursor: pointer;
  font-weight: 600;
}

  #cms_ui div#page_panel h2 {
    left: 25%;
  }
  
  #cms_ui div#site_panel h2 {
    left: 50%;
  }
  
  #cms_ui div#options_panel h2 {
    left: 75%;
  }

#cms_ui div.active h2 {
  background: #0080FF;
  color: #FFF;
}

#cms_ui div.panel:nth-child(1) h2 {
  left: 0;
  border-left: none;
}

#cms_ui p {
  margin: 0 0 0.5em 0;
}

#cms_ui #cms_inspector {
}

  #cms_ui #cms_inspector .empty {
    text-align: center;
    padding: 5em 0.5em;
    color: #CCC;
    border-radius: 5px;
    background: #F8F8F8;
    border: 2px dotted #DDD;
  }
  
#cms_ui .cms_components,
#cms_ui .layouts {
  display: block;
  margin: 1em -4px 0 -2px;
  padding: 0;
  list-style: none;
  font-size: small;
}

#cms_ui .layouts {
  margin-top: 0;
}

#cms_ui .cms_components:after,
#cms_ui .layouts:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

#cms_ui .cms_components li,
#cms_ui .layouts li {
  display: block;
  float: left;
  width: 33%;
  text-align: center;
}

#cms_ui .layouts li {
  width: 25%;
}

#cms_ui .cms_components span,
#cms_ui .layouts span {
  display: block;
  padding: 0.75em 0.25em 0.75em 0.5em;
  margin: 2px;
  border-radius: 3px;
  background: rgba(0,0,0, 0.1);
  border: 1px solid #EEE;
  color: #666;
  text-decoration: none;
  cursor: pointer;
}

#cms_ui .layouts .selected span {
  background: #0080FF;
  color: #FFF;
}

#cms_ui .cms_components span i,
#cms_ui .layouts span i {
  display: block;
  margin: 0 0 0.1em 0;
  font-size: 1.8em;
}

.template-zone .block-placeholder,
.page-zone .block-placeholder {
  border-radius: 4px;
  list-style: none;
  display: block;
  height: 8px;
  background: #EEE;
  margin: 1em 0;
}





.medium-toolbar-arrow-under:after {
  top: 60px;
  border-color: #999 transparent transparent transparent;
}

.medium-toolbar-arrow-over:before {
  top: -8px;
  border-color: transparent transparent #999 transparent;
}

.medium-editor-toolbar {
  background-color: #999; 
  border-radius: 4px;
}

  .medium-editor-toolbar li {
    padding: 0;
  }
  
    .medium-editor-toolbar li button {
      min-width: 60px;
      height: 60px;
      border: none;
      border-right: 1px solid #AAA;
      background-color: transparent;
      color: #fff;
      -webkit-transition: background-color 0.2s ease-in, color 0.2s ease-in;
              transition: background-color 0.2s ease-in, color 0.2s ease-in;
    }
    
      .medium-editor-toolbar li button:hover {
        background-color: #0080FF;
        color: #fff;
        border-radius: 4px;
      }
      
    .medium-editor-toolbar li .medium-editor-button-active {
      background-color: #23482a;
      color: #fff;
    }
    
    .medium-editor-toolbar li .medium-editor-button-last {
      border-right: none;
    }

.medium-editor-toolbar-form-anchor .medium-editor-toolbar-anchor-input {
  height: 60px;
  background: #999;
  color: #fff;
}

  .medium-editor-toolbar-form-anchor .medium-editor-toolbar-anchor-input::-webkit-input-placeholder,
  .medium-editor-toolbar-form-anchor .medium-editor-toolbar-anchor-input:-moz-placeholder,
  .medium-editor-toolbar-form-anchor .medium-editor-toolbar-anchor-input::-moz-placeholder,
  .medium-editor-toolbar-form-anchor .medium-editor-toolbar-anchor-input:-ms-input-placeholder {
    color: #fff;
    color: rgba(255, 255, 255, 0.8);
  }
  
.medium-editor-toolbar-form-anchor a {
  color: #fff;
}

.medium-editor-toolbar-anchor-preview {
  background: #999;
  color: #333;
}

.medium-editor-placeholder:after {
  color: #fff;
}

.ui-resizable {
	position: relative;
}

.ui-resizable-handle {
	position: absolute;
	font-size: 0.1px;
	display: block;
	-ms-touch-action: none;
	touch-action: none;
}

.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
	display: none;
}

.ui-resizable-s {
	cursor: s-resize;
	height: 7px;
	width: 100%;
	bottom: -5px;
	left: 0;
}

.ui-resizable-e {
	cursor: e-resize;
	width: 7px;
	right: -5px;
	top: 0;
	height: 100%;
}

.ui-resizable-se {
	cursor: se-resize;
	width: 12px;
	height: 12px;
	right: 1px;
	bottom: 1px;
}

