body {
  padding: 4em;
  margin-right: 25%;
  font-family: "Gill sans", arial, sans-serif;
}

#primary {
  float: left;
  width: 70%;
}

#secondary {
  float: right;
  width: 25%;
}

h1, h2, h3, h4, h5, h6, legend, label, th {
  font-family: 'Arvo', serif;
  font-weight: normal;
  color: #1182A9;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 1rem 0;
}

h1 {
  border-bottom: 2px solid #C2CF29;
  padding-bottom: 0.2em;
  margin-bottom: 2rem;
}

blockquote {
  border-left: 3px solid #900;
  background: #FEE;
  padding: 0.5em 1em;
  font-size: 1.2em;
}

blockquote footer {
  margin-top: 0.5em;
  font-style: italic;
  font-size: 1rem;
  color: #999;
}

.zone {
  min-height: 1em;
  outline-color: #AAA;
  outline-style: dotted;
  outline-offset: 10px;
  outline-width: 0;
}

.component {
  position: relative;
  background: #FFF;
  outline-color: #CCC;
  outline-style: dashed;
  outline-offset: 5px;
  outline-width: 0;
}

.shown {
  outline-width: 1px;
  min-height: 1em;
}

.component:hover {
  outline: 1px solid #CCC;
}

.component .actions {
  position: absolute;
  top: -1.4em;
  right: 0;
  font-size: small;
  text-align: center;
  display: none;
}

.component .actions div {
  border-radius: 4px;
  background: #445;
  color: #FFF;
  float: left;
  width: 1.5em;
  height: 1.5em;
  line-height: 1.5em;
  text-align: center;
  margin-left: 0.2em;
}

.component .actions .handle {
  cursor: move;
}

.component .remove {
  cursor: pointer;
}

.component [data-editor]:focus {
  outline: none;
}

#cms_ui legend,
#cms_ui label,
#cms_ui th {
  font-family: "Gill Sans", sans-serif !important;
}

#cms_ui h1, #cms_ui h2, #cms_ui h3, #cms_ui h4, #cms_ui h5, #cms_ui h6, #cms_ui legend, #cms_ui label, #cms_ui th {
  color: #FFF;
}

#cms_ui {
  background: #556;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 25%;
  border-left: 2px solid #334;
  font-family: "Gill Sans", sans-serif !important;
  color: #FFF;
}

#cms_ui form {
  position: relative;
  margin: 5px;
  padding: 0;
  border: none;
}

#cms_ui fieldset {
  position: absolute;
  top: 2em;
  left: 0;
  width: 100%;
  margin: 0;
  padding: 0;
  border: none;
}

#cms_ui fieldset div {
  display: none;
  padding: 1em;
  background: #445;
}

#cms_ui fieldset.active div {
  display: block;
}

#cms_new_panel {
  height: 9.8em;
}

#cms_global_panel {
  height: 6em;
}

#cms_local_panel {
  height: 12em;
}

#cms_ui legend span {
  display: block;
  position: absolute;
  width: 33%;
  top: -2em;
  color: #778;
  text-align: center;
  line-height: 2em;
  background: #445;
  box-sizing: border-box;
  border-left: 1px solid #556;
}

#cms_ui fieldset legend span {
  opacity: 0.5;
  cursor: pointer;
}

#cms_ui fieldset legend span:hover {
  opacity: 0.75;
}

#cms_ui fieldset.active legend span {
  opacity: 1;
  color: #FFF;
}

#cms_ui fieldset:nth-child(1) legend span {
  left: 0;
  border-left: none;
}

#cms_ui fieldset:nth-child(2) legend span {
  left: 33%;
  width: 34%;
}
#cms_ui fieldset:nth-child(3) legend span {
  left:67%;
}

#cms_ui fieldset p {
  margin: 0 0 0.5em 0;
}

#cms_ui .cms_components {
  display: block;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: small;
}

#cms_ui .cms_components:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

#cms_ui .cms_components li {
  display: block;
  float: left;
  width: 33%;
  text-align: center;
}

#cms_ui .cms_components span {
  display: block;
  padding: 1em 0.25em 1em 0.5em;
  margin: 2px;
  border-radius: 4px;
  background: #445;
  border: 1px solid #667;
  color: #CCC;
  text-decoration: none;
  cursor: pointer;
}

#cms_ui .cms_components span i {
  display: block;
  margin: 0 0 0.2em 0;
  font-size: 2em;
  color: #EEE;
}

.zone .block-placeholder {
  border-radius: 2px;
  list-style: none;
  display: block;
  height: 8px;
  background: #EEE;
  margin: 2px 0;
}

.dragster {
  border: 1px solid #999;
  width: 5em;
  height: 2em;
}







.medium-toolbar-arrow-under:after {
  top: 50px;
  border-color: #445 transparent transparent
}
.medium-toolbar-arrow-over:before {
  top: -8px;
  border-color: transparent transparent #445
}
.medium-editor-toolbar {
  border: 1px solid #334;
  background: #445;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 2px #333;
  box-shadow: 0 0 2px #333;
  -webkit-transition: top .075s ease-out,left .075s ease-out;
  transition: top .075s ease-out,left .075s ease-out
}
.medium-editor-toolbar li button {
  min-width: 50px;
  height: 50px;
  border: 0;
  border-left: 1px dotted #556;
  color: #fff;
  background: #445;
  -webkit-transition: background-color .2s ease-in;
  transition: background-color .2s ease-in
}
.medium-editor-toolbar li button:hover {
  background-color: #000;
  color: #ff0
}
.medium-editor-toolbar li .medium-editor-button-first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px
}
.medium-editor-toolbar li .medium-editor-button-last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px
}
.medium-editor-toolbar li .medium-editor-button-active {
  color: #ff6;
  background: #556;
}
.medium-editor-toolbar-form-anchor {
  background: #445;
  color: #999;
  border-radius: 5px
}
.medium-editor-toolbar-form-anchor input {
  height: 50px;
  background: #445;
  color: #ccc;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box
}
.medium-editor-toolbar-form-anchor a {
  color: #fff
}
.medium-editor-toolbar-anchor-preview {
  background: #445;
  color: #fff;
  border-radius: 5px
}
.medium-editor-placeholder:after {
  color: #b3b3b1
}
