<table border="0" cellspacing="5" cellpadding="5">
	<caption>Tables are not fully implemented yet</caption>
	<tr>
		<th data-editor="inline" data-property="header">Header</th>
	</tr>
	<tr>
		<td data-editor="inline" data-property="value">Data</td>
	</tr>
</table>