<blockquote>
	<div data-editor="inline" itemprop="content"><%= component['content'] || 'Enter your quote' %></div>
	<footer>&mdash; <span data-editor="inline" itemprop="source"><%= component['source'] || 'Source here' %></span></footer>
</blockquote>